{% extends 'base.html.twig' %}



{# Feel free to tweak the styling! #}
{% block stylesheets %}
	<style>
	  .log__item--debug {
		background-color: gray;
	  }
	  .log__item--info {
		background-color: green;
	  }
	  .log__item--warning {
		background-color: orange;
	  }
	  .log__item--error {
		background-color: red;
	  }
	</style>
{% endblock %}



{% block body %}
	{% set levels = ['debug', 'info', 'warning', 'error'] %}
	
	{# Let's create a dozen log items with varying content #}
	{% set items = [] %}
	{% for i in range(1, 12) %}
		{% set level = levels[i % levels|length] %}
		
		{% set items = items|merge([{
			level,
			title: "Item #{i} [#{level}]",
			body:  "This is an item of level #{level}"
		}]) %}
	{% endfor %}
	
	
	
	<h1>Log</h1>
	
	<div data-controller="log"> {# Connect the LogController to this element #}
		<h2>Filter</h2>
		<div>
			{% for level in levels %}
				<button
					type="button"
					value="{{ level }}"
					data-action="log#filter"
				>{{ level }}</button>
			{% endfor %}
		</div>

		<h2>Items</h2>
		<ul class="log">
			{% for item in items %}
				<li class="log__item log__item--{{ item.level }}">
					<p class="log__title">{{ item.title }}</p>
					<p class="log__body">{{ item.body }}</p>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
